* {
    box-sizing: border-box;
    margin: 0;
}
html {
    height: 100vw;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}
body {
    height: 100%;
    width: 100%;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-image: url(./imagesHD/1.jpg);
    transition: 0.3s;
}
.blackout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 1s;
}
.icons {
    width: 60%;
    height: 60%;
    transition: 0.3s;
}
.icons:hover {
    width: 70%;
    height: 70%;
    transition: 0.3s;
}
button,
a {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 2;
    box-shadow: 0px -100px 55px -62px rgba(0, 0, 0, 1) inset;
}
.social-network {
    width: 20%;
    display: flex;
    justify-content: center;
    height: 90%;
    margin-top: 2%;
}
.button-menu {
    width: 60%;
    display: flex;
    justify-content: center;
}
.sign {
    width: 20%;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    margin-top: 3%;
    text-align: center;
}

.center-menu {
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    visibility: hidden;
}

@keyframes down {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 400px);
        opacity: 0;
    }
}

@keyframes up {
    0% {
        transform: translate(0, 400px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes appearance {
    0% {
        transform: translate(0, 600px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes disappearance {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 400px);
    }
}

@keyframes neww {
    0% {
        width: 1%;
        height: 1%;
        background-size: 100vw;
    }
    100% {
        width: 100%;
        height: 100%;
        background-size: 100vw;
    }
}

.headline {
    margin-left: 5%;
    margin-bottom: 2%;
}

h1 {
    color: white;
    text-shadow: #000839 0 0 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Roboto", sans-serif;
}


.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
}

.open-gallery {
    display: inline;
}
.close-gallery {
    display: none;
}

.card {
    height: 80%;
    width: 90%;
    border-radius: 10px;
    overflow: hidden; /* чтобы работал border-radius*/
    transition: 0.5s;
}
.card:hover {
    height: 84%;
    width: 94%;
    transition: 0.5s;
    font-size: 18px;
}

.card-art {
    width: 100%;
    height: 60%;
    background-color: black;
}
.card-name {
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}
.img-div {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.art-name {
    height: 30%;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto", sans-serif;
}

.circle {
    position:static;
    background-size: 100vw;
    background-repeat: no-repeat;
    transition: 1.5s;
    z-index: 4;
}
