* {
    box-sizing: border-box;
    margin: 0;
}
html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative; /* для мобилок, чтобы не скролилось*/
}

.back-parallax {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.parallax {
    position: absolute; /* чтобы png наслаивались друг на друга*/
    height: auto;
    width: 120vw;

    /*transition: 0s;*/
}

.blackout {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
}
.icons {
    width: 60%;
    height: 60%;
    transition: 0.3s;
}
.icons:hover {
    width: 70%;
    height: 70%;
    transition: 0.3s;
}
button,
a {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 100px;
    z-index: 2;
    box-shadow: 0px -100px 55px -62px rgba(0, 0, 0, 1) inset;
    margin-bottom: 0;
}
.social-network {
    width: 20%;
    display: flex;
    justify-content: center;
    height: 90%;
    margin-top: 2%;
}
.button-menu {
    width: 60%;
    display: flex;
    justify-content: center;
}
.sign {
    width: 20%;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    margin-top: 3%;
    text-align: center;
}

.center-menu {
    position: absolute;
    width: 100%;
    height: 80%;
    /* Центрированиe по вертикали для position: absolute */
    top: 50%;
    transform: translateY(-50%);
}

.headline {
    margin-left: 5%;
    margin-bottom: 2%;

    transition: 1s;
    transform: translateX(-200%);
}

h1 {
    color: white;
    text-shadow: #000839 0 0 15px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Roboto", sans-serif;
}

.open-gallery {
    display: inline;
}
.close-gallery {
    display: none;
}

.card {
    height: 80%;
    width: 90%;
    border-radius: 10px;
    overflow: hidden; /* чтобы работал border-radius*/
    transition: 0.8s;

    transform: translateY(120%);
}
.menu-appearance {
    transform: translateY(0%);
}
.headline-appearance {
    transform: translateX(0%);
}
.card:hover {
    height: 84%;
    width: 94%;
    transition: 0.5s;
    font-size: 18px;
    cursor: pointer;
}

.card-art {
    width: 100%;
    height: 60%;
    background-color: black;
}
.card-name {
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}
.img-div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.art-name {
    height: 30%;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Roboto", sans-serif;
}

.circle {
    position: static;
    background-size: 120vw;
    background-repeat: no-repeat;
    transition: 1.3s;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-position: center;
}

.bg-image {
    background-image: url("./images/1.webp");
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -100;

    position: absolute;
    transition: background-image 1.5s;
    filter: blur(1.5rem);
    transform: scale(1.2);
}

@media (max-aspect-ratio: 3/2) {
    .parallax{
        height: 120vh;
        width: auto;
    }

    div.circle{
        background-size: auto 120vh;
        width: 100%;
        height: 100%;
    }
}