* {
    box-sizing: border-box;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    box-shadow: 0px -97px 54px -14px rgba(0, 0, 0, 1) inset;
    min-height: 100%;
}
.background-art {
    position: absolute;
    width: 100%;
    height: 100%;
}
.icons {
    width: 60%;
    height: 60%;
    transition: 0.3s;
}
.icons:hover {
    width: 70%;
    height: 70%;
    transition: 0.3s;
}
button,
a {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.social-network {
    width: 20%;
    display: flex;
    justify-content: center;
}
.button-menu {
    width: 60%;
    display: flex;
    justify-content: center;
}
.sign {
    width: 20%;
    color: white;
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    font-style: italic;
    margin-top: 3%;
}

.center-menu {
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    visibility: hidden;
}

@keyframes down {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 400px);
        opacity: 0;
    }
}

@keyframes up {
    0% {
        transform: translate(0, 400px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes appearance {
    0% {
        transform: translate(0, 600px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes disappearance {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 400px);
        opacity: 1;
    }
}

.headline {
    margin-left: 5%;
    margin-bottom: 2%;
}

p,
h1 {
    color: white;
    text-shadow: #000839 0 0 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.author {
    margin-left: 30%;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
}

.open-gallery {
    display: inline;
}

.close-gallery {
    display: none;
}
.card{
    height: 80%;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    overflow: hidden; /* чтобы работал бордер-радиус*/
    transition: 0.5s;
}

.card:hover{
    height: 84%;
    width: 94%;
    transition: 0.5s;
}

.card-art {
    width: 100%;
    height: 60%;
    background-color: black;
}
.card-name{
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
}
.img-div{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.art-name{
    color: black;
    text-shadow: none;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 80%;
    overflow: hidden;
}