.swiploop {
    overflow: hidden;
    position: absolute;
    width: 100%; /* Ширина блока */
    height: 80%; /* Высота блока */
    display: flex;
    flex-direction: row;
}

.slider {
    overflow: scroll; /*Добавляем полосы прокрутки */
    overflow-y: hidden;
    width: 100%; /* Ширина блока */
    height: 100%; /* Высота блока */
    display: flex;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider-item {
    min-width: 350px;
    height: 100%;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}
